*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background: rgb(141, 91, 91);
  display: flex;
  flex-direction: column;
}

form{
  box-sizing: border-box;
  padding: 1rem;
  height: fit-content;
  display: flex;
  width: 240px;
  height: fit-content;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

form section{
  width: 100%;
  display: flex;
  flex-direction: column;
}

section label,
input[type='submit']{
  margin-top: 1rem;
}

section select{
  margin-bottom: 1rem;
}

section input,
section select{
  width: 100%;
}

select{
  width: 100px;
}

table{
  background: #fff;
  margin-top: 1rem;
  width: 80%;
}

td{
  text-align:center;
  vertical-align: center;
}

.hidden{
  display: none;
}